body {

    background: linear-gradient(90deg, rgba(25, 18, 128, 1) 0%, rgba(13, 13, 166, 1) 35%, rgba(22, 184, 217, 1) 100%);
    margin-left: 298px;
}

#menu {
    background-color: rgb(255, 255, 255);
    margin: -34px;
    margin-left: -10px;
    height: 1000px;
    width: 300px;
    text-align: center;
}

.logo {
    width: 150px;
    height: 130px;
    margin-top: 25px;
    border-radius: 100%;
    border: 9px ridge #180b85;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
}


h1,
h2 {
    font-size: 1.7rem;
    font-family: "Smooch Sans", sans-serif;
    text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
}

.links1 {
    font-size: 1, 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: rgb(0, 0, 0);
    transition: all 0.4s ease-in-out;
    text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
}

.links1:hover {
    background-color: #180b85;
    color: aliceblue
}

header {
    float: left;
}

.info01 {
    background-color: aliceblue;
    margin: 2rem 1rem 0.5rem 20rem;
    border-radius: 1rem;
    padding: 0.5rem;
    

}

.info02 {
    background-color: aliceblue;
    margin: 2rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 250px;
    width: 270px;
    margin-left: 45px;
}

.info03 {
    background-color: aliceblue;
    margin: 2rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 250px;
    width: 270px;
}

.info04 {
    background-color: aliceblue;
    margin: 2rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 250px;
    width: 270px;
}


.info05 {
    background-color: aliceblue;
    margin: 2rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 250px;
    width: 270px;
}

.info06 {
    background-color: aliceblue;
    margin: 2rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 250px;
    width: 270px;
}

.info07 {
    background-color: aliceblue;
    margin: 2rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 250px;
    width: 270px;
}

.info08 {
    background-color: rgb(247, 249, 252);
    margin: 2rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 250px;
    width: 270px;
}

#conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    color: #fff;
    font: 1vw verdana;
}

legend{
    color: #00fff2;
    font: 1vw verdana;
}

form {
    width: 900px;
    margin: auto 20rem auto 21rem;
}

fieldset {
    border: 2px solid #fff;
    margin: 25px;
}

input.btn {
    padding: 7px;
    border-radius: 15px;
    border: none;
}

fieldset#Sexo {
    width: 400px;
}

fieldset#usuario {
    background: url("imagens/icon-contatos.png") no-repeat 95% 95%;
    background-size: 250px 250px;        
}

fieldset#endereco {
    background: url("imagens/icon-endereco.png") no-repeat 95% 95%;
    background-size: 250px 250px; 
    height: 250px; 
}

fieldset#mensagem {
    background: url("imagens/icon-mensagem.png") no-repeat 95% 95%;
    background-size: 250px 250px;  

}


form {
    width: 900px;
    margin: auto 20rem auto 21rem;
}

fieldset {
    border: 2px solid #fff;
    margin: 20px;
}

fieldset #sexo {
        width: 200px;
        font: 1vw verdana;

}

legend {
    color: #fffb00;
    font: 1rem verdana;
    font-weight: 800;
}

p {
    color: #fff;
    font: 1vw verdana;
    font-weight: bold;
}

input.btn {
    background-color: black;
    color: #fff;
    padding: 7px;
    margin: 5px;
    font: 1.3vw verdana;
    border: none;
}

input.btn:hover {
    background-color: #fffb00;
    color: black;
}


fieldset#usuario {
    background: url("imagens/icon-contato.png") no-repeat 95% 95%;
}

fieldset#endereco {
    background: url("imagens/icon-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem {
    background: url("imagens/icon-mensagem.png") no-repeat 95% 95%;
}
